In [ ]:
#pip install opencage

In [ ]:
import pandas as pd

In [ ]:
game = pd.read_csv("game.csv")
team = pd.read_csv("team_geo_info.csv")

In [ ]:
# TODO 1: add lat. and long. for each city 
from opencage.geocoder import OpenCageGeocode
key = ''  # get api key from : https://opencagedata.com
geocoder = OpenCageGeocode(key)
def func(x):
    results = geocoder.geocode(x) 
    lat = results[0]['geometry']['lat']
    lon = results[0]['geometry']['lng']
    return lat,lon

In [ ]:
team['city, state'] = team['city'].astype(str) + ', ' + team['state'].astype(str)
team['lat, lon'] = team['city, state'].apply(func)

In [ ]:
team.head()

,id,full_name,abbreviation,nickname,city,state,year_founded,"city, state","lat, lon"
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949.0,"Atlanta, Atlanta","(33.710511, -84.3689965)"
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946.0,"Boston, Massachusetts","(42.3554334, -71.060511)"
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970.0,"Cleveland, Ohio","(41.4996574, -81.6936772)"
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002.0,"New Orleans, Louisiana","(29.9759983, -90.0782127)"
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966.0,"Chicago, Illinois","(41.8755616, -87.6244212)"

In [ ]:
from google.colab import files
team.to_csv('team_geo_info.csv') 
#files.download('team_geo_info.csv')

In [ ]:
# TODO 2: measure driving distance between two cities
game['team_abbreviation_away'] = game['matchup_home'].apply(lambda x : x.split()[2])

In [ ]:
game_geo_info = pd.merge(game,team[['abbreviation', 'lat, lon']],left_on='team_abbreviation_home', right_on='abbreviation')
game_geo_info['home_lat_lon'] = game_geo_info['lat, lon']
game_geo_info.drop(['abbreviation','lat, lon'], axis=1, inplace=True)

In [ ]:
game_geo_info = pd.merge(game_geo_info,team[['abbreviation', 'lat, lon']],left_on='team_abbreviation_away', right_on='abbreviation')
game_geo_info['away_lat_lon'] = game_geo_info['lat, lon']
game_geo_info.drop(['abbreviation','lat, lon'], axis=1, inplace=True)

In [ ]:
game_geo_info

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,home_lat_lon,away_lat_lon
0,21946,1610612738,BOS,Boston Celtics,24600078,1946-12-07 00:00:00,BOS vs. NYK,L,0,25.0,...,NaN,NaN,NaN,NaN,NaN,90,25,0,"(42.3554334, -71.060511)","(40.7127281, -74.0060152)"
1,21946,1610612738,BOS,Boston Celtics,24600149,1947-01-10 00:00:00,BOS vs. NYK,W,0,28.0,...,NaN,NaN,NaN,NaN,NaN,62,-4,0,"(42.3554334, -71.060511)","(40.7127281, -74.0060152)"
2,21946,1610612738,BOS,Boston Celtics,24600211,1947-02-06 00:00:00,BOS vs. NYK,W,0,18.0,...,NaN,NaN,NaN,NaN,NaN,48,-1,0,"(42.3554334, -71.060511)","(40.7127281, -74.0060152)"
3,21947,1610612738,BOS,Boston Celtics,24700024,1947-11-25 00:00:00,BOS vs. NYK,L,0,26.0,...,NaN,NaN,NaN,NaN,NaN,91,16,0,"(42.3554334, -71.060511)","(40.7127281, -74.0060152)"
4,21947,1610612738,BOS,Boston Celtics,24700044,1947-12-10 00:00:00,BOS vs. NYK,L,0,29.0,...,NaN,NaN,NaN,NaN,NaN,79,4,0,"(42.3554334, -71.060511)","(40.7127281, -74.0060152)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38593,22018,1610612740,NOP,New Orleans Pelicans,21800298,2018-11-26 00:00:00,NOP vs. BOS,L,240,34.0,...,27.0,14.0,4.0,15.0,25.0,124,17,1,"(29.9759983, -90.0782127)","(42.3554334, -71.060511)"
38594,22019,1610612740,NOP,New Orleans Pelicans,21900691,2020-01-26 00:00:00,NOP vs. BOS,W,240,44.0,...,21.0,6.0,5.0,17.0,29.0,108,-15,1,"(29.9759983, -90.0782127)","(42.3554334, -71.060511)"
38595,22020,1610612740,NOP,New Orleans Pelicans,22000465,2021-02-21 00:00:00,NOP vs. BOS,W,265,42.0,...,22.0,9.0,11.0,11.0,30.0,115,-5,1,"(29.9759983, -90.0782127)","(42.3554334, -71.060511)"
38596,22021,1610612740,NOP,New Orleans Pelicans,22100745,2022-01-29 00:00:00,NOP vs. BOS,L,240,36.0,...,31.0,6.0,7.0,15.0,19.0,107,10,1,"(29.9759983, -90.0782127)","(42.3554334, -71.060511)"
38597,22022,1610612740,NOP,New Orleans Pelicans,22200231,2022-11-18 00:00:00,NOP vs. BOS,L,240,43.0,...,28.0,6.0,3.0,17.0,13.0,117,8,1,"(29.9759983, -90.0782127)","(42.3554334, -71.060511)"

In [ ]:
import requests
import json

def dis(home, away):
    home = ''.join(map(str,home))[1:-1]
    away = ''.join(map(str,away))[1:-1]
    API_KEY = ''
    # google API url 
    url = f"https://maps.googleapis.com/maps/api/directions/json?origin={away}&destination={home}&mode=driving&key={API_KEY}"
    r = requests.get(url)
    results = json.loads(r.content)
    #return results
    legs = results.get("routes").pop(0).get("legs")
    return legs[0].get("distance")['text'],legs[0].get("duration")['text']

In [ ]:
#game_geo_info['distance'] = game_geo_info.apply(lambda x: dis(x['home_lat_lon'], x['away_lat_lon']), axis=1)

In [ ]:
df = game_geo_info[['home_lat_lon','away_lat_lon']]
df = df.drop_duplicates()
df

                    home_lat_lon               away_lat_lon
0       (42.3554334, -71.060511)  (40.7127281, -74.0060152)
234    (38.8950368, -77.0365427)  (40.7127281, -74.0060152)
348    (42.3315509, -83.0466403)  (40.7127281, -74.0060152)
514    (34.0536909, -118.242766)  (40.7127281, -74.0060152)
618    (41.8755616, -87.6244212)  (40.7127281, -74.0060152)
...                          ...                        ...
38504  (35.1335022, -89.9668758)   (42.3554334, -71.060511)
38524  (35.2272086, -80.8430827)   (42.3554334, -71.060511)
38556  (35.4729886, -97.5170536)   (42.3554334, -71.060511)
38570  (40.6526006, -73.9497211)   (42.3554334, -71.060511)
38589  (29.9759983, -90.0782127)   (42.3554334, -71.060511)

[813 rows x 2 columns]

In [ ]:
df['distance'] = df.apply(lambda x: dis(x['home_lat_lon'], x['away_lat_lon']), axis=1)

In [ ]:
df['driving time'] = df['distance'].apply(lambda x : x[1])
df['distance'] = df['distance'].apply(lambda x : x[0])

In [ ]:
df

,home_lat_lon,away_lat_lon,distance,driving time
0,"(42.3554334, -71.060511)","(40.7127281, -74.0060152)",214 mi,3 hours 37 mins
234,"(38.8950368, -77.0365427)","(40.7127281, -74.0060152)",229 mi,3 hours 49 mins
348,"(42.3315509, -83.0466403)","(40.7127281, -74.0060152)",614 mi,9 hours 26 mins
514,"(34.0536909, -118.242766)","(40.7127281, -74.0060152)","2,775 mi",1 day 17 hours
618,"(41.8755616, -87.6244212)","(40.7127281, -74.0060152)",790 mi,12 hours 7 mins
...,...,...,...,...
38504,"(35.1335022, -89.9668758)","(42.3554334, -71.060511)","1,308 mi",19 hours 38 mins
38524,"(35.2272086, -80.8430827)","(42.3554334, -71.060511)",840 mi,12 hours 51 mins
38556,"(35.4729886, -97.5170536)","(42.3554334, -71.060511)","1,674 mi",1 day 1 hour
38570,"(40.6526006, -73.9497211)","(42.3554334, -71.060511)",216 mi,3 hours 49 mins
38589,"(29.9759983, -90.0782127)","(42.3554334, -71.060511)","1,523 mi",22 hours 37 mins

In [ ]:
result = pd.merge(game_geo_info, df,  how='left', on=['home_lat_lon','away_lat_lon'])

In [ ]:
result.to_csv('game_geo_info.csv') 
#files.download('game_geo_info.csv')

In [ ]:
#pip install timezonefinder

In [ ]:
dt = game_geo_info[['home_lat_lon','away_lat_lon']]
dt = df.drop_duplicates()

In [ ]:
from timezonefinder import TimezoneFinder
# object creation
obj = TimezoneFinder()
#obj.timezone_at(lng=latitude, lat=longitude)

def time(home, away):
    home_lat = home.split()[0][1:-1]
    home_lng = home.split()[1][:-1]
    away_lat = away.split()[0][1:-1]
    away_lng = away.split()[1][:-1]
    home_tz = obj.timezone_at(lng=float(home_lng), lat=float(home_lat))
    away_tz = obj.timezone_at(lng=float(away_lng), lat=float(away_lat))
    return home_tz, away_tz

In [ ]:
dt['timezone'] = dt.apply(lambda x: time(x['home_lat_lon'], x['away_lat_lon']), axis=1)

In [ ]:
game_total = pd.merge(result, dt,  how='left', on=['home_lat_lon','away_lat_lon'])

In [ ]:
from pytz import timezone
def tz_diff(date, tz):
    '''
    Returns the difference in hours between timezone1 and timezone2
    for a given date.
    '''
    tz_home = timezone(tz[0])
    tz_away = timezone(tz[1])
    date = pd.to_datetime(date)
    return abs((tz_home.localize(date) - tz_away.localize(date).astimezone(tz_home))).seconds/3600

In [ ]:
game_total['time_diff'] = game_total.apply(lambda x: tz_diff(x['game_date'], x['timezone']), axis=1)

In [ ]:
game_total.to_csv('game_geo_total.csv') 
files.download('game_geo_total.csv')

In [131]:
team_df = pd.read_csv("team.csv")

In [135]:
game_merged_data = pd.merge(game_total, team_df.add_suffix('_home'), left_on='team_id_home', right_on='id_home')

In [144]:
game_merged_data = pd.merge(game_merged_data, team_df.add_suffix('_away'), left_on='team_id_away', right_on='id_away')

In [151]:
game_merged_data.to_csv('game_merged_data.csv') 
files.download('game_merged_data.csv')